@using AgentScope_Capstone_2021_2.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <section class="box">
        <h2 style="text-align: center; padding-bottom: 12px">Log In</h2>
        <hr style="padding-bottom: 12px" />
        <form>
            <div class="row gtr-uniform gtr-50" style="text-align: center">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group col-6 offset-3">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-6 offset-3">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                <div class="col-12 checkbox">
                    <input type="checkbox" name="RememberMe" id="RememberMe" value="true"/>
                    <label for="RememberMe">Remember Me</label>
                </div>
                <hr class="col-12" />
                <div class="form-group col-12" style="text-align:center">
                    <input type="submit" value="Log in" class="btn btn-default" style="width: 320px" />
                </div>
            </div>
        </form>
    </section>
}


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }