@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated) {
        <li class="nav-link">@Html.ActionLink("Manage Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" }) </li>
        <li class="nav-link">
        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "ml-auto", style = "display: none" })) {
            @Html.AntiForgeryToken()
        }
    </li>
} else {
<li class="ml-auto">
    <a href="#" class="icon solid fa-angle-down button">Sign Up</a>
    <ul>
        <li class="nav-link">@Html.ActionLink("Agent", "RegisterAgent", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li class="nav-link">@Html.ActionLink("Reviewer", "RegisterReviewer", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    </ul>
</li>
    <li class="nav-link">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "button"})</li>
    
}
